html, body {
    margin: 0;
    padding: 0;
    height:100%;
    background: rgb(29, 32, 30);
} 
body{
    font-family: 'Coming Soon', cursive;
    background:linear-gradient(0deg, rgba(8, 19, 11, 0.5), rgba(8, 19, 11, 0.5)),url(img/luke-yoda-dagobah.jpg);
    background-size: cover;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    color:azure;
}
.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  #hero-title{
      font-size:5rem;
      font-weight:lighter;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  #hero-text{
    visibility: hidden;
    font-size:2.5rem;
    font-weight:lighter;
    margin-top: 15px;
    margin-bottom: 15px;
}
#hero-text:before { content: open-quote; visibility: hidden;}
#hero-text:after  { content: close-quote; visibility: hidden;}

#btn {
	background-color:#00000042;
	border-radius:45px;
	border:2px solid #495F44;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Coming Soon', cursive;
	font-size:23px;
    font-weight:lighter;
	padding:10px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#btn:hover {
	background-color:#1c271f42;
}
#btn:active {
	position:relative;
	top:1px;
}

       